*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

.btn_inscription{
	width: 301px;
	height: 94px;
	border-radius: 15px;
	background-color: #9A908F;
	border: 0;
	font-family: Roboto-Regular;
	font-size: 45px;
	color: white;
}

.btn_connexion{
	display: block;
	margin-left: auto;
  	margin-right: auto;
	width: 238px;
	height: 62px;
	border-radius: 15px;
	border: 0;
	background-color: #393231;
	font-family: Roboto-Regular;
	font-size: 30px;
	color: white;
	margin-top: 100px;
	text-decoration: none;
}


#accueil_logo{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: -50px; 
	margin-bottom: 70px;
}


.contenu_co{
	background-color: white;
	width: 25em;
	height: 34em;
	margin: 5px;
	border-radius: 15px;
	box-shadow: 1px 2px 3px;
}

.contenu_insc{
	background-color: white;
	width: 25em;
	height: 45em;
	margin: 5px;
	border-radius: 15px;
	box-shadow: 1px 2px 3px;
}

label{
	letter-spacing: 2px;
	font-family: Roboto-Regular;
	/*text-align: center;*/
	font-size: 15px;
	color: #2E2B2B;
	margin-left: auto;
	margin-right: auto;
}

#seconnecter input{
	border:  0px;
	border-bottom: 1px solid #95989A;
	width: 200px;
	margin: 10px;
	font-family: Regular_bold;
}

#seconnecter a{
	text-decoration: none;
	color: #676767;
	height: 52px;
}

#bouton_co{
	width: 249px;
	height: 52px;
	border-radius: 15px;
	background-color: #0D73E7;
	border: 0;
	font-family: Roboto-Bold;
	font-size: 25px;
	color: white;
}

.header{
	height: 20px;
}

.page_debut{

	background-image: url('../img/background.jpg');
	background-size: auto;
	background-position: fixed;
	width: auto;
	height: auto;
}

.contenu_insc {

}

.check{
	/*display: inline;*/
}

input{
	float: left;
}